.signFormWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  background-color: var(--color-main-bg);
  border-radius: 30px;
  height: calc(100vh - 32px);
  min-height: 650px;
}

.signFormLogoWrapper {
  position: absolute;
  top: 24px;
  left: 16px;
}

@media screen and (min-width: 768px) {
  .signFormWrapper {
    padding: 32px;
    height: calc(100vh - 64px);
    min-height: 750px;
  }

  .signFormLogoWrapper {
    position: absolute;
    top: 32px;
    left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .signFormWrapper {
    width: 672px;
    height: 736px;
  }
}
