.signFormWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 16px;
  padding-top: 50px;
  background-color: var(--color-main-bg);
  border-radius: 30px;
  height: 100%;
}
