.progressBarContainer {
  border-radius: 15px;
  padding: 12px;
  width: 203px;
  height: 85px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 181px;
}

.progressBarTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323f47;
}

.progressBar {
  border-radius: 9px;
  width: 100%;
  height: 6px;
  margin-top: 23px;
  background-color: #f0eff4;
}

.progressBarFill {
  border-radius: 9px;
  height: 6px;
  margin-top: 15px;
  max-width: 100%;
  position: relative;
}

.ball {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.percentNumber {
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;

  position: absolute;
  bottom: 130%;
  right: 0;
  transform: translate(50%, -50%);
}

.percentContainer {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 6px;
}

.percent {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .progressBarContainer {
    margin-top: 266px;
    padding: 20px;
    width: 295px;
    height: 106px;
  }

  .progressBar {
    height: 8px;
  }

  .percentContainer {
    width: 260px;
  }

  .percent {
    font-size: 12px;
    line-height: 187%;
  }

  .percentNumber {
    font-size: 9px;
    line-height: 180%;
    bottom: 20%;
  }

  .progressBarFill {
    height: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .progressBarContainer {
    margin-top: 400px;
    height: 110px;
  }

  .progressBarTitle {
    font-size: 15px;
    line-height: 149%;
  }
}
