.iconStyle {
  box-sizing: border-box;
  background-color: var(--color-second-bg);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  stroke: var(--color-font-main);
  padding: 6px;
  transition: background-color 0.2s ease;
}

.btnStyle {
  width: fit-content;
  height: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 0;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  letter-spacing: inherit;
  background-color: transparent;
  color: var(--color-font-main);
}

.btnStyle:hover .iconStyle {
  background-color: var(--color-font-main);
}

.btnStyle:hover .iconStyle {
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .iconStyle {
    background-color: var(--color-second-bg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
