/*===========320px============*/

.modal {
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 40px 14px;
    width: 344px;
    height: 267px;
    gap: 28px;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #323f47;
    stroke: #323f47;
}

.closeBtn:hover {
    stroke: #87d28d;
}

.svg {
    width: 24px;
    height: 24px;
    position: absolute;
}

.modalTextBox {
    width: 316px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.modalTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
}

.modalText {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;
}

.modalBtnBox {
    width: 304px;
    height: 101px;
    gap: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnCancel {
    border-radius: 30px;
    border: none;
    padding: 14px 129px;
    width: 304px;
    height: 46px;
    background: #f0eff4;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(50, 63, 71, 0.3);
}

.btnCancel:hover {
    color: #323f47;
}

/*==============768px================*/

@media screen and (min-width: 768px) {
    .modal {
        padding: 40px;
        width: 516px;
        height: 244px;
        gap: 24px;
    }

    .svg {
        width: 28px;
        height: 28px;
    }

    .modalTextBox {
        width: auto;
        height: auto;
        gap: 24px;
    }

    .modalTitle {
        font-size: 28px;
        line-height: 1.14;
    }

    .modalText {
        font-size: 18px;
        line-height: 1.33;
    }

    .modalBtnBox {
        width: 356px;
        height: 60px;
        flex-direction: row;
        gap: 10px;
    }

    .btnCancel {
        padding: 18px 59px;
        width: 173px;
        height: 60px;
    }
}