.waterList {
	display: flex;
	gap: 8px;
	padding-left: 0;
}

.water_item {
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 4px var(--color-font-second);
}

.water_item strong {
	font-size: 16px;
	color: var(--color-font-main);
}

.water_item p {
	font-size: 12px;
	margin-top: 5px;
	color: var(--color-font-second);
}

@media screen and (min-width: 768px) {
	.waterList {
		gap: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.waterList {
		gap: 16px;
	}
}

.container {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 24px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--white);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--grey);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--lightGrey);
}
