.waterDetailedInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  background: var(--color-main-bg);
  border-radius: 30px;
  width: 343px;
  height: 770px;
}

@media screen and (min-width: 768px) {
  .waterDetailedInfo {
    padding: 32px;
    width: 704px;
    height: 738px;
  }
}

@media screen and (min-width: 1440px) {
  .waterDetailedInfo {
    width: 672px;
    height: 736px;
  }
}
