@media screen and (max-width: 767px) {
	.nodata {
		font-size: 24px;
		font-weight: bold;
		color: #989c9d;
		text-align: center;
	}
	.graphContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		padding-top: 25px;
		max-width: 303px;
		height: 281px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
	.nodata {
		font-size: 24px;
		font-weight: bold;
		color: #989c9d;
		text-align: center;
	}
	.graphContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 47px 16px 0 16px;
		width: 640px;
		height: 298px;
	}
}

@media screen and (min-width: 1440px) {
	.nodata {
		font-size: 24px;
		font-weight: bold;
		color: #989c9d;
		text-align: center;
	}
	.graphContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 25px 10px 0 10px;
		width: 608px;
		height: 298px;
	}
}
