@media screen and (max-width: 767px) {
	.graphContainer {
		padding-top: 25px;
		max-width: 303px;
		height: 281px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
	.graphContainer {
		padding: 47px 16px 0 16px;
		width: 640px;
		height: 298px;
	}
}

@media screen and (min-width: 1440px) {
	.graphContainer {
		padding: 25px 10px 0 10px;
		width: 608px;
		height: 298px;
	}
}
