.WaterModal {
  margin: 0 auto;
  max-width: 343px;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.WaterModal h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin: 0 0 24px 0;
}

.WaterModalCloseBtn {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  fill: #323f47;
}

.WaterModalCloseBtn svg {
  width: 100%;
  height: 100%;
}

.WaterModalCloseBtn:hover {
  fill: #87d28d;
}

@media screen and (min-width: 768px) {
 .WaterModal {
  padding: 40px;
  max-width: 518px;
 }

 .WaterModal h1 {
  font-size: 28px;
 }
}

@media screen and (min-width: 1440px) {

}
