.WaterModal {
  margin: 0 auto;
  max-width: 343px;
  padding: 40px 20px;
  border-radius: 15px;
  background-color: #fff;
}

.WaterModal h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
 .WaterModal {
  padding: 40px;
  max-width: 518px;
 }

 .WaterModal h1 {
  font-size: 28px;
 }
}

@media screen and (min-width: 1440px) {

}
