.welcomeSection {
  border-radius: 30px;
  padding: 24px 16px 67px;
  background-color: var(--color-main-bg);
  flex: 1;
}
.welcomeSectionContainer {
  margin: 74px 0 0;
}
.welcomeSectionDescribe {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}
.welcomeSectionTitle {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  margin-bottom: 32px;
}
.welcomeSectionLinks {
  display: flex;
  gap: 10px;
}
.welcomeSectionLink {
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
  background-color: var(--color-second-bg);
  padding: 14px 19px;
  border-radius: 30px;
}
.welcomeSectionLinkSignup:hover,
.welcomeSectionLinkSignup:focus {
  background-color: var(--color-second-bg-hover);
}
.welcomeSectionLinkSignin {
  border: 1px solid var(--color-font-main);
  background-color: transparent;
}
.welcomeSectionLinkSignin:hover,
.welcomeSectionLinkSignin:focus {
  border: 1px solid var(--color-second-bg-hover);
  color: var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .welcomeSection {
    padding: 32px 32px 50px;
  }
  .welcomeSectionContainer {
    margin: 50px 32px 0;
  }
  .welcomeSectionDescribe {
    font-size: 16px;
    line-height: 150%;
  }
  .welcomeSectionTitle {
    font-size: 64px;
    line-height: 109%;
  }
  .welcomeSectionLinks {
    gap: 16px;
  }
  .welcomeSectionLink {
    font-size: 16px;
    line-height: 150%;
    padding: 18px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeSection {
    padding: 32px 32px 188px;
  }
  .welcomeSectionContainer {
    margin: 132px 32px 0;
  }
  .welcomeSectionTitle {
    font-size: 80px;
    line-height: 95%;
  }
}
