@import '../../styles/variables.css';

@media screen and (max-width: 767px) {
	.container {
		max-width: 303px;
		min-width: 196px;
		min-height: 100px;
		background-color: var(--color-main-bg);
	}

	.calendarList {
		display: flex;
		flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(7, 28px);
		row-gap: 20px;
		column-gap: calc((100% - 196px) / 6);
	}
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
	.container {
		width: 640px;
		min-height: 100px;

		background-color: var(--color-main-bg);
	}

	.calendarList {
		display: grid;
		grid-template-columns: repeat(8, calc((100% - 301px) / 8));
		row-gap: 15px;
		column-gap: 43px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		width: 608px;
		height: 305px;

		background-color: var(--color-main-bg);
	}

	.calendarList {
		display: grid;
		grid-template-columns: repeat(8, calc((100% - 301px) / 8));
		row-gap: 15px;
		column-gap: 43px;
	}
}
