/*Mobile view*/
@media screen and (min-width: 375px) {
  .modalSettingContainer {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 90vw;
    padding: 40px 20px;
    z-index: 101;
    background-color: white;
    border-radius: 15px;
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .modalHeader h2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
  .closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
  }
  .icon {
    fill: white;
    stroke: black;
  }
}

/*Tablet view*/
@media screen and (min-width: 768px) {
  .modalSettingContainer {
    padding: 40px;
  }
  .modalHeader h2 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  .closeBtn {
    width: 28px;
    height: 28px;
  }
}

/*Desktop view*/
@media screen and (min-width: 1440px) {
  /* .modalSettingContainer {
    width: 920px;
  } */
}
