/*Mobile view*/

.modalSettingContainer {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  max-width: 343px;
  z-index: 101;
  background-color: white;
  border-radius: 15px;
  position: relative;
  top: auto;
  bottom: auto;
}

.modalHeader {
  display: flex;
  padding: 40px 20px 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalHeader h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.closeBtn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.icon {
  height: 100%;
  width: 100%;
  fill: white;
  stroke: black;
}
.closeBtn:hover .icon {
  stroke: #87d28d;
}

/*Tablet view*/
@media screen and (min-width: 768px) {
  .modalSettingContainer {
    max-width: 648px;
  }

  .modalHeader {
    /*flex-direction: row;*/
    padding: 40px 40px 0;
    align-items: center;
  }

  .modalHeader h2 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  .closeBtn {
    position: static;
    top: 40px;
    right: 40px;
    width: 28px;
    height: 28px;
  }

  .icon {
    height: 28px;
    width: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .modalSettingContainer {
    max-width: 920px;
  }
}
