.btn {
  margin: 16px auto;
  border-radius: 30px;
  border: none;
  padding: 16px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-font-main);
  background-color: var(--color-second-bg);
  margin-bottom: 16px;
  text-align: center;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 14px;
    width: 436px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}
