.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  padding: 16px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-font-main);
  background-color: var(--color-second-bg);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-second-bg-hover);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 18px;
    font-size: 16px;
    line-height: 1.5;
  }
}
