.waterContainer {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 100%;
  height: 415px;
  background-color: #9be1a0;
  position: relative;
  background-image: url(./img/bottle_for_water_mob_1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 262px 335px;
  padding-top: 24px;
  padding-left: 16px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .waterContainer {
    background-image: url(./img/bottle_for_water_mob_2x.png);
  }
}

.normaContainer {
  border-radius: 15px;
  padding: 12px;
  width: 102px;
  min-height: 54px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 78px;
  position: absolute;
}

.normaL {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323f47;
}

.normaText {
  margin-top: 6px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

@media screen and (min-width: 768px) {
  .waterContainer {
    width: 704px;
    height: 578px;
    background-image: url(./img/bottle_for_water_tab_1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 374px 477px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .waterContainer {
      background-image: url(./img/bottle_for_water_tab_2x.png);
    }
  }

  .waterTitle {
    font-size: 24px;
    line-height: 100%;
    margin-top: 32px;
    margin-left: 33px;
  }

  .normaContainer {
    padding: 14px 18px;
    width: 129px;
    min-height: 78px;
    margin-top: 101px;
    margin-left: 32px;
  }

  .normaL {
    font-size: 15px;
    line-height: 149%;
  }

  .normaText {
    font-size: 12px;
    line-height: 187%;
  }
}

@media screen and (min-width: 1440px) {
  .waterContainer {
    width: 672px;
    height: 736px;
    background-image: url(./img/bottle_for_water_desk_1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 474px 604px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .waterContainer {
      background-image: url(./img/bottle_for_water_desk_2x.png);
    }
  }

  .normaContainer {
    margin-left: 40px;
  }
}
