.waterContainer {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  max-width: 343px;
  height: 415px;
  background-color: #9be1a0;
  position: relative;
  background-image: url(./img/bottle_for_water_mob_1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 262px 335px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .waterContainer {
    background-image: url(./img/bottle_for_water_mob_2x.png);
  }
}

.waterTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #323f47;
  margin-top: 24px;
  margin-left: 16px;
}

.normaContainer {
  border-radius: 15px;
  padding: 12px;
  width: 102px;
  height: 54px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 122px;
  margin-left: 16px;
  position: absolute;
}

.normaL {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323f47;
}

.normaText {
  margin-top: 6px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

.btnAdd {
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  border: none;
  position: absolute;
  bottom: 32px;
  right: 16px;
  background-color: #323f47;
}

.btnText {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .waterContainer {
    max-width: 704px;
    height: 578px;
    background-image: url(./img/bottle_for_water_tab_1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 374px 477px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .waterContainer {
      background-image: url(./img/bottle_for_water_tab_2x.png);
    }
  }

  .waterTitle {
    font-size: 24px;
    line-height: 100%;
    margin-top: 32px;
    margin-left: 33px;
  }

  .normaContainer {
    padding: 14px 18px;
    width: 129px;
    height: 78px;
    margin-top: 157px;
    margin-left: 32px;
  }

  .normaL {
    font-size: 15px;
    line-height: 149%;
  }

  .normaText {
    font-size: 12px;
    line-height: 187%;
  }

  .btnAdd {
    padding: 18px 30px;
    width: 178px;
    height: 60px;
    bottom: 64px;
    right: 32px;
  }

  .btnText {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .waterContainer {
    min-width: 672px;
    height: 736px;
    background-image: url(./img/bottle_for_water_desk_1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 474px 604px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .waterContainer {
      background-image: url(./img/bottle_for_water_desk_2x.png);
    }
  }

  .normaContainer {
    margin-left: 64px;
  }
}
