.userBarWrapper {
  width: fit-content;
  position: relative;
}

.userBar {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: none;
  padding: 6px 12px;
  height: 56px;
  background-color: #323f47;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
}

.userBar:hover {
  color: #9be1a0;
}

.userBarText {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.userBarAvatar {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  overflow: hidden;
}

.userBarIcon {
  fill: none;
  stroke: #fff;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.userBar:hover .userBarIcon {
  stroke: #9be1a0;
}

@media screen and (min-width: 768px) {
  .userBar {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
}
