.userBarWrapper {
  width: fit-content;
  position: relative;
}

.userBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: none;
  padding: 6px 12px;
  height: 56px;
  background-color: #323f47;
  font-size: 14px;
  font-weight: 700;
}

.userBar:hover {
  color: #9be1a0;
}

.userBarAvatar {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #87d28d;
  background-size: cover;
  pointer-events: none;
  overflow: hidden;
}

.userBarIcon {
  fill: none;
  stroke: #fff;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.userBar:hover .userBarIcon {
  stroke: #9be1a0;
}

@media screen and (min-width: 768px) {
  .userBar {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
}
