.btnSet {
  border-radius: 30px;
  padding: 14px 20px;
  min-width: 165px;
  height: 46px;
  border: none;
  position: absolute;
  bottom: 32px;
  right: 16px;
  background-color: #323f47;
  display: flex;
}

.btnSet:hover .btnTextSet,
.btnSet:hover .plus {
  color: #9be1a0;
  stroke: #9be1a0;
}

.btnTextSet {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease;
}

.plus {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  margin-top: 2px;
  stroke: #fff;
  transition: stroke 0.3s ease;
}

@media screen and (min-width: 768px) {
  .btnSet {
    padding: 18px 30px;
    min-width: 200px;
    height: 60px;
    bottom: 64px;
    right: 32px;
  }

  .btnTextSet {
    font-size: 16px;
    line-height: 150%;
  }

  .plus {
    height: 15px;
    width: 15px;
    margin-top: 4px;
  }
}
