.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  max-width: 375px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;
    max-width: 1440px;
  }
}
