.info {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	border-radius: 30px;
	min-height: 200px;
}

@media screen and (min-width: 768px) {
	.info {
		min-height: 174px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.title {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.2px;
	line-height: 24px;
}

@media screen and (min-width: 768px) {
	.title {
		font-size: 28px;
		line-height: 32px;
	}
}

.content {
	display: flex;
}

.button {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-direction: row;
	border: none;
	width: 124px;
	height: 30px;
	font-size: 16px;
	font-weight: 700;
	padding: 0;
	color: var(--grey);
	cursor: pointer;
	letter-spacing: -0.2px;
	line-height: 1.5em;
}

@media screen and (min-width: 768px) {
	.button {
		font-size: 16px;
		line-height: 24px;
	}
}

.icon {
	stroke: black;
}

@media screen and (min-width: 768px) {
	.icon {
		width: 24px;
		height: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.icon {
		width: 30px;
		height: 30px;
	}
}

.button:active .icon {
	fill: var(--grey);
	stroke: var(--white);
}

.iconBackground {
	background-color: var(--green);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 29px;
	height: 29px;
}

@media screen and (min-width: 768px) {
	.iconBackground {
		width: 24px;
		height: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.iconBackground {
		width: 30px;
		height: 30px;
	}
}
