.day {
  width: 28px;
  height: 44px;
  border: none;
  background-color: var(--color-main-bg);
  padding: 0;
  transition: opacity 0.3s ease;
}

.day:disabled {
  cursor: default;
  opacity: 0.5;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  font-size: 14px;
  font-weight: bold;
  color: var(--color-font-main);
  background-color: var(--white);

  border-radius: 50%;
}
.perc_filled {
  background-color: rgba(50, 63, 71, 0.2);
}

.date:hover .day {
  opacity: 0.7;
}

.perc {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 16px;
  font-size: 10px;
  color: #2f2f2f99;
  background-color: var(--color-main-bg);
}

.active {
  color: var(--color-second-bg);
  background-color: var(--color-font-main);
}

@media screen and (min-width: 768px) {
  .day {
    width: 38px;
    height: 65px;
    border: none;
    background-color: var(--color-main-bg);
    padding: 0;
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 38px;
    width: 38px;

    font-size: 16px;
    font-weight: bold;

    border-radius: 50%;
  }

  .perc {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 27px;
    font-size: 12px;
    color: #2f2f2f99;
  }

  .active {
    color: #9be1a0;
    background-color: #323f47;
  }
}

@media screen and (min-width: 1440px) {
  .day {
    width: 38px;
    height: 65px;
    border: none;
    background-color: var(--color-main-bg);
    padding: 0;
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 38px;
    width: 38px;

    font-size: 16px;
    font-weight: bold;

    border-radius: 50%;
  }

  .perc {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 27px;
    font-size: 12px;
    color: #2f2f2f99;
  }

  .active {
    color: #9be1a0;
    background-color: #323f47;
  }
}
